body {
 background-color: #5D535E;
 font:50%;
 color: #FFFFFF;
}
h1 {
 color: #F18D9E;
 text-align: center;
 font: Sans-serif 200% fantasy;
}
a {
 color: #FFFFFF;
 text-align: left;
 font-size: 20px
 }
p {
 color: #FFFFFF;
 text-align: left;
 font-size: 25px;
 
}
img {
    border: 10px solid #DFE166;
    border-radius: 0px;
    padding: 0px;
    height: 300px;
}