body {
 margin:0;
 background-color: #98DBC6;
 font:50%;
 color: #FFFFFF;
 text-align:center;
 margin:200px;
}
h1 {
 color: #F18D9E;
 text-align: center;
 font: Sans-serif 200% fantasy;
}
a {
 color: #FFFFFF;
 text-align: left;
 font-size: 20px
 }
p {
  color: #5D535E;
 text-align: left;
 font-size: 25px;
   font-family: 'Raleway';
 
}
img {
    border: 10px solid #DFE166;
    border-radius: 0px;
    padding: 0px;
    height: 300px;
}

.navbar {
  overflow: hidden;
  background-color: #F18D9C;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
   font-family: 'Raleway';
}